*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* to remove underline */
}
a.active_class{
    color: red;
    
    
}

.container{
    background-color: rgba(0, 0, 0, 0.767);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    min-width: 500px;
    margin-bottom: 20px;
}

a{
    color: white;
    
}

.heading{
    text-align: center;
    
}
.input{
    
    text-align: center;
    padding-top: 30px;
    
}
.input input{
    text-align: center;
    width: 200px;
    height: 2rem;
    border: 2px solid red;
    border-radius: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* To center an image  */
    border-radius: 10px;
    margin-top: 30px;
}

