.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.slots{
    border: 2px solid transparent;
    width: 400px;
    
}

.btn{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 70px;
    font-size: 0.65rem;
}

#header{
    border: 20px;
    width: 100%;
    height: 50px;
    background-color: brown;
    margin: 0;
}

.headbtn{
    margin-top: 15px;
}

select{
    width: 60vh;
    height: 30px;
    margin-top: 25px;
}



input{
    width: 58.5vh;
    margin: 20px;
    height:20px;
    margin-top: 35px;
    height: 22px;
    padding-left: 5px;
}


#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    width: 150px;


}

.label1{
    position: absolute;
    top: 120px;
    left: 487px;
    color: brown;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.label2{
    position: absolute;
    top: 185px;
    left: 487px;
    color: brown;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;

}
.label3{
    position: absolute;
    top: 248px;
    left: 487px;
    color: brown;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

#bookbtn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: brown;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.input2{
    margin-top: 15px;
}

.input1{
    margin-top: 35px;
}