.container{
    border: 2px solid white;
    width: 500px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;


}

body{
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
}

#error{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}



input{
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 5px solid rgb(19, 10, 10);
    margin: 20px;
}



.btn1{
    display: flex;
    font-size: 4rem;
    border: 2px solid red;
    background-color: blanchedalmond ;
    margin: auto;
    padding: 20px;
    
    
}

